.col-centered{
  float: none;
  margin: 0 auto;
  text-align: center;
}

.card-rounded {
  border-radius: 0.8em;
  background-color: #dddddd;
}

.card-infos li {
  background-color: #dddddd;
}
.btn-flip:hover{
  box-shadow: 0 0  8px 8px rgba(255, 255, 255, .4);
  text-shadow: rgba(255, 255, 255, .4);
}
