<!--The content below is only a placeholder and can be replaced.-->
<script src="controller.js">
</script>
<div class="container">
  <div class="jumbotron" ng-app="myApp">
    <div class="card card-rounded col-centered" ng-controller="AppCtrl" style="width: 20rem;">
      <div class="card-body">
        <ul class="list-group list-group-flush card-infos">
          <li class="list-group-item">
            <h4 class="card-title">{{ card.title }}</h4>
          </li>
          <li class="list-group-item" id="card-text">
            <p class="card-text" *ngIf="showsFront; then showfront else showback"></p>
            <ng-template #showfront>{{card.front}}</ng-template>
            <ng-template #showback>{{card.back}}</ng-template>
          </li>
          <li class="list-group-item">
            <button (click)="cardClicked()"  type="button" class="btn btn-flip btn-primary">Flip Card</button>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>

